<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
	<add key="DsLinePackages1" value="https://nuget.pkg.github.com/DsLine-Microservices/index.json" />
        <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <DsLinePackages1>
            <add key="Username" value="DsLinePackagePro" />
     	    <add key="ClearTextPassword" value="774a309277de842c3a803205c5cba7ca18c97e7a" />
        </DsLinePackages1>
    </packageSourceCredentials>
</configuration>